<h2>Search Authors</h2>
<form action="authors", method="GET">
    <input type="text", name="name", value="<%= locals.name %>" placeholder="Search...">
    <button type="submit">Search</button>
</form>
<br>
<br>
<% authors.forEach(a => { %>
    <div><%= a.name %></div>
    <a href="authors/<%= a.id %>">View</a>
    <a href="authors/<%= a.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm' , {url: `authors/${a.id}`}) %>
<% }) %>